extends layout

block content
  .card.top
      .toolbar        
        span.toolbar__label.fs-title Brand Name
        .toolbar__right
          lx-dropdown(position='right', from-top='')
            button.btn.btn--l.btn--black.btn--icon(lx-ripple='', lx-dropdown-toggle='')
              i.mdi.mdi-menu
            lx-dropdown-menu
              ul
                li
                  a.dropdown-link Action
                li
                  a.dropdown-link Another action
                li
                  a.dropdown-link Something else here
                li.dropdown-divider
                li
                  a.dropdown-link.dropdown-link--is-header Header
                li
                  a.dropdown-link Separated link
  .tc-white-1(flex-container='row')"]
      div(flex-item='12')
        .bgc-blue-500.topper(class='p+')
          .mb
            button.btn.btn--xl.btn--white.btn--raised.findLender(lx-ripple='', ng-click='clicked=!clicked') Find My Lender
        .bgc-yellow-500.topper.animate-show(flex-container='row', class='p+', ng-show='clicked')
          div(flex-item='4')
            form
              lx-text-field.black(label='First name', fixed-label='true')
                input(type='text', ng-model='textFields.fixedFirstName2')
              lx-text-field.black(label='Last name', fixed-label='true')
                input(type='text', ng-model='textFields.fixedLastName2')
              lx-text-field.black(label='Email', fixed-label='true')
                input(type='email', ng-model='textFields.fixedEmail2')
              lx-text-field.black(label='Address', fixed-label='true')
                input(type='text', ng-model='textFields.fixedAdress2')
          div(flex-item='4')
            form
              lx-text-field.black(label='First and last name', fixed-label='true', icon='account')
                input(type='text', ng-model='textFields.fixedFirstName')
              lx-text-field.black(label='Phone number', fixed-label='true', icon='phone')
                input(type='text', ng-model='textFields.fixedLastName')
              lx-text-field.black(label='Email address', fixed-label='true', icon='email')
                input(type='email', ng-model='textFields.fixedEmail')
              lx-text-field.black(label='Location', fixed-label='true', icon='city')
                input(type='text', ng-model='textFields.fixedAdress')
          .mb(flex-item='4')
            button.btn.btn--xl.btn--white.btn--raised.lenderResults(lx-ripple='', ng-click='lenderResults=!lenderResults') Lender Results
        .bgc-red-200.topper.animate-show(flex-container='row', class='p+', ng-show='lenderResults')
          div(flex-item='5')
            form
              lx-text-field.black(label='Lender', fixed-label='true')
                input(type='text', ng-model='textFields.fixedFirstName2')
              lx-text-field.black(label='Last name', fixed-label='true')
                input(type='text', ng-model='textFields.fixedLastName2')
              lx-text-field.black(label='Email', fixed-label='true')
                input(type='email', ng-model='textFields.fixedEmail2')
              lx-text-field.black(label='Address', fixed-label='true')
                input(type='text', ng-model='textFields.fixedAdress2')
          div(flex-item='5')
            form
              lx-text-field.black(label='Lender Results', fixed-label='true', icon='account')
                input(type='text', ng-model='textFields.fixedFirstName')
              lx-text-field.black(label='Phone number', fixed-label='true', icon='phone')
                input(type='text', ng-model='textFields.fixedLastName')
              lx-text-field.black(label='Email address', fixed-label='true', icon='email')
                input(type='email', ng-model='textFields.fixedEmail')
              lx-text-field.black(label='Location', fixed-label='true', icon='city')
                input(type='text', ng-model='textFields.fixedAdress')
        .bgc-green-500.topper(class='p+')
          .mb
            button.btn.btn--xl.btn--white.btn--raised.steps(lx-ripple='') Step 1
            button.btn.btn--xl.btn--white.btn--raised.steps(lx-ripple='') Step 2
            button.btn.btn--xl.btn--white.btn--raised.steps(lx-ripple='') Step 3

  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/velocity/velocity.js')
  script(src='bower_components/moment/min/moment-with-locales.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/lumx/dist/lumx.js')
  script(src='javascripts/app.js')
