extends layout

block content
  .bodywrapper
    .card.top
        .toolbar        
          span.toolbar__label.fs-title Lendeavor
          .toolbar__right
            lx-dropdown(position='right', from-top='')
              button.btn.btn--l.btn--black.btn--icon(lx-ripple='', lx-dropdown-toggle='')
                i.mdi.mdi-menu
              lx-dropdown-menu
                ul
                  li
                    a.dropdown-link Action
                  li
                    a.dropdown-link Another action
                  li
                    a.dropdown-link Something else here
                  li.dropdown-divider
                  li
                    a.dropdown-link Separated link
    .tc-white-1.mainContent#goForth(flex-container='column', flex-item='12', role='navigation')
      .bgc-green-500.topper#somethingElse(class='p+')
        .bgc-light-blue-A200.mask(class='p+')
          h1.topper Hello, welcome to Lendeavor. We match small businesses with the right loans.
          a(href='#getStarted')
            i.icon.icon--l.icon--white.icon--flat.mdi.mdi-chevron-down#topSlider
      .bgc-blue-500.topper#getStarted(class='p+')
        h1.topper2 I am a <span style="text-decoration:underline;">florist</span>
        h1.mid Looking to borrow <span style="text-decoration:underline;">$5000</span>
        h1.mid For <span style="text-decoration:underline;">expansion</span>
        a#lefty(href='#formDiv', data-id='div2')
          button.btn.btn--xl.btn--blue--500.btn--raised.findLender(lx-ripple='', ng-click='clicked=!clicked') Get Started
      .bgc-white.topper#learnMore(flex-container='row', class='p+',)
        div.icons(flex-item='4', flex-item-order='1') Step 1
          img.icons1(src='/images/talk.png')
          p.icons Let’s talk about your business: answer a few questiona and create an account to save your progress 
        div.icons(flex-item='4', flex-item-order='2') Step 2
          img.icons(src='/images/check.png')
          p.icons Compare your lenders: Lendeavor will match you with lenders that are the best fit for your business
        div.icons(flex-item='4', flex-item-order='3') Step 3
          img.icons(src='/images/docs.png')
          p.icons Choose your lender, upload your documents and get your money      
      .formWrapper.clear(ng-show='clicked')
        .bgc-white.topper.animate-show.clear#formDiv(flex-container='row', class='p+')
          .bgc-white(flex-container='row', flex-item='12', class='p+')
            div(flex-item='12')
              .toolbar        
                span.toolbar__label.fs-title.former Personal Info
                .toolbar__right
                  button.btn.btn--l.btn--black.btn--icon.formy(lx-ripple='', ng-click='section1=!section1')
                    i.mdi.mdi-plus(ng-hide='section1')
                    i.mdi.mdi-minus(ng-show='section1')
              .cssSlideUp(ng-show='section1')  
                form
                  lx-text-field.black(label='First name', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedFirstName1')
                  lx-text-field.black(label='Last name', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedLastName1')
                  lx-text-field.black(label='Email', fixed-label='true')
                    input.black(type='email', ng-model='textFields.fixedEmail1')
                  lx-text-field.black(label='Address', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedAdress1')
        .bgc-white.topper.animate-show.formdiv(flex-container='row', class='p+')
          .bgc-white(flex-container='row', flex-item='12', class='p+')  
            div(flex-item='12')
              .toolbar        
                span.toolbar__label.fs-title.former Biz Info
                .toolbar__right
                  button.btn.btn--l.btn--black.btn--icon.formy(lx-ripple='', ng-click='section2=!section2')
                    i.mdi.mdi-plus(ng-hide='section2')
                    i.mdi.mdi-minus(ng-show='section2')
              .cssSlideUp(ng-show='section2')  
                form
                  lx-text-field.black(label='Company name', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedFirstName1')
                  lx-text-field.black(label='Company zip', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedLastName1')
                  lx-text-field.black(label='Revenue', fixed-label='true')
                    input.black(type='email', ng-model='textFields.fixedEmail1')
                  lx-text-field.black(label='Entity Structure', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedAdress1')
        .bgc-white.topper.animate-show.formdiv#formbottom(flex-container='row', class='p+')
          .bgc-white(flex-container='row', flex-item='12', class='p+')
            div(flex-item='12')
              .toolbar        
                span.toolbar__label.fs-title.former Loan Info
                .toolbar__right
                  button.btn.btn--l.btn--black.btn--icon.formy(lx-ripple='', ng-click='section3=!section3')
                    i.mdi.mdi-plus(ng-hide='section3')
                    i.mdi.mdi-minus(ng-show='section3')
              .cssSlideUp(ng-show='section3')  
                form
                  lx-text-field.black(label='Amount', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedFirstName2')
                  lx-text-field.black(label='Purpose of capital', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedLastName2')
                  lx-text-field.black(label='Desired Term', fixed-label='true')
                    input.black(type='email', ng-model='textFields.fixedEmail2')
                  lx-text-field.black(label='Down payment', fixed-label='true')
                    input.black(type='text', ng-model='textFields.fixedAdress2')
        .bgc-white.topper.animate-show(flex-item='12', class='p+')
          .bgc-white.center(flex-item='12', class='p+')
            a.mba(href='#lenderResults')  
              button.btn.btn--m.btn--blue.btn--raised.lendy(lx-ripple='', ng-click='lenderResults=!lenderResults') Find My Lendy
      .cssSlideUp#lenderResults(ng-show='lenderResults', ng-cloak='')
        .bgc-red-200.topper.animate-show(flex-container='row', class='p+')
          div.lendy(flex-item='4') Lendy 1            
          div.lendy(flex-item='4') Lendy 2
          div.lendy(flex-item='4') Lendy 3
      .bgc-green-A400.topper
        h1.lefty Testimonial
        img.righty(src='/images/juice.jpg')
      .bgc-blue-500.topper
        div.videoWrapper(flex-item='4', flex-item-order='1')
          iframe.embeder(width='560', height='315', src='https://www.youtube.com/embed/kIrKHbzmW4w', frameborder='0', allowfullscreen='')
      .card.bgc-green-A400
        .toolbar This is a footer
  script(src='javascripts/jquery.scrollTo.js')
  script(src='javascripts/jquery.localScroll.js')

  script.
    $(document).ready(function() {
      $('#somethingElse').localScroll({duration:1900});
    });
  script.
    $(document).ready(function() {
      $('#getStarted').localScroll({duration:1900});
    });
  script.
    $(document).ready(function() {
      $('#goForth').localScroll({duration:1900});
    });