.clear {
  clear: both;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
a.dropdown-link {
  color: #000 !important;
}
a#lefty {
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 480px) {
  a#lefty {
    margin: 0 0 0 0;
  }
}
.bodywrapper {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.card.top {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(24,255,255,0.55) !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
.toolbar {
  border: none !important;
}
.tc-white-1.mainContent {
  height: auto;
}
.bgc-blue-500.topper {
  height: auto;
  z-index: 0;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .bgc-blue-500.topper {
    height: 42.5%;
  }
}
.bgc-green-500.topper {
  height: 300px;
  z-index: 0;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .bgc-green-500.topper {
    height: 42.5%;
  }
}
.bgc-green-A400.topper {
  height: auto;
  min-height: 400px;
  z-index: 0;
  text-align: center;
  border: none !important;
}
@media screen and (min-width: 1920px) {
  .bgc-green-A400.topper {
    height: 42.5%;
  }
}
.bgc-green-500.topper#somethingElse {
  min-height: 700px;
  z-index: 0;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/images/storefront.jpg");
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 64px !important;
  border: none !important;
}
@media screen and (min-width: 1920px) {
  .bgc-green-500.topper#somethingElse {
    height: 42.5%;
  }
}
@media screen and (max-width: 480px) {
  .bgc-green-500.topper#somethingElse {
    padding-top: 56px !important;
  }
}
.bgc-light-blue-A200.mask {
  background-color: rgba(24,255,255,0.55) !important;
  width: 100%;
  height: 700px;
  margin: 0 !important;
  padding: 0 !important;
}
.bgc-red-300.topper {
  height: 22.5%;
  z-index: 0;
  text-align: center;
}
.bgc-white.topper.animate-show {
  height: auto;
  border: none;
  padding: 0 !important;
}
.bgc-white.topper#learnMore {
  text-align: center;
  color: #000;
}
.formWrapper.clear {
  text-align: left !important;
}
.bgc-white.topper.animate-show.formdiv {
  text-align: left;
}
.bgc-white.topper.animate-show.clear#formDiv {
  padding: 60px 0 0 0 !important;
  height: auto;
  text-align: left;
}
.bgc-white.topper.animate-show#formbottom {
  padding: 0 0 60px 0 !important;
}
.bgc-white.center {
  text-align: center;
}
.bgc-red-200.topper.animate-show {
  text-align: center;
  border: none;
  height: 200px;
  color: #fff;
}
.bgc-white.topper.animate-show {
  text-align: center;
  border: none;
  height: auto;
  color: #000;
}
.rower {
  text-align: center;
}
h1 {
  width: auto;
}
h1.topper {
  padding: 15% 15% 0 15%;
}
@media screen and (max-width: 480px) {
  h1.topper {
    padding: 30% 0 0 0;
  }
}
h1.topper2 {
  margin: 6% 15% 0 35%;
  text-align: left;
}
@media screen and (max-width: 480px) {
  h1.topper2 {
    margin: 20% 0 0 0;
  }
}
h1.mid {
  text-align: left;
  margin: 0 15% 0 35%;
}
@media screen and (max-width: 480px) {
  h1.mid {
    margin: 0 0 0 0;
  }
}
h1.lefty {
  float: left;
  color: #fff;
  margin: 20px 20px 30px 20px;
}
i.icon.icon--l.icon--white.icon--flat.mdi.mdi-chevron-down#topSlideer {
  font-size: 80px !important;
  width: auto !important;
  margin: 30px 0 0 0;
}
span.toolbar__label.fs-title {
  color: #000;
}
span.toolbar__label.fs-title.former {
  color: #000;
}
button.btn.btn--xl.btn--blue--500.btn--raised.findLender {
  z-index: 0 !important;
  margin: 2.25% auto 2.25% auto;
  border: 1px solid #fff;
}
@media screen and (max-width: 480px) {
  button.btn.btn--xl.btn--blue--500.btn--raised.findLender {
    margin: 12% 0 0 0;
  }
}
button.btn.btn--xl.btn--white.btn--flat.findLender#learn {
  z-index: 0 !important;
  margin: 1.5% auto 0 -10px;
  float: left;
}
button.btn.btn--m.btn--white.btn--raised.steps {
  z-index: 0 !important;
  margin: 80px 10px 0 10px;
}
button.btn.btn--xl.btn--white.btn--raised.lenderResults {
  z-index: 0 !important;
  margin: 80px 50px 0 50px;
}
button.btn.btn--m.btn--blue.btn--raised.lendy {
  z-index: 0 !important;
  margin: 0 auto 0 auto;
}
button.btn.btn--l.btn--black.btn--icon.formy {
  z-index: 0 !important;
  float: right;
}
.text-field__label {
  color: #000 !important;
}
input.black {
  color: #000 !important;
}
span.toolbar__label.fs-title.center {
  text-align: center;
}
.toolbar.center {
  text-align: center;
  margin: 10px auto 10px auto;
  width: auto;
}
div.icons {
  margin: 20px auto 0 auto;
}
div.lendy {
  padding-top: 60px;
}
img.icons {
  margin: 20px auto 0 auto;
  padding: 0;
  max-width: 100px;
  max-height: 100px;
}
img.icons1 {
  margin: 28px auto 0 auto;
  padding: 0;
  max-width: 100px;
  max-height: 100px;
}
img.righty {
  float: right;
  margin: 20px 20px 30px 20px;
}
@media screen and (max-width: 480px) {
  img.righty {
    float: left;
    max-width: 90%;
  }
}
p.icons {
  margin: 40px auto 40px auto;
  text-align: left;
  padding: 0 30px 0 30px;
}
div.videoWrapper {
  padding: 50px auto 50px auto;
  max-width: 100%;
}
iframe.embeder {
  max-width: 79%;
  margin: 50px auto 50px auto;
}
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  height: auto;
}
.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.cssSlideUp {
  transition: 0.7s linear all;
  height: 200px;
  overflow: hidden;
}
.cssSlideUp.ng-hide {
  height: 0;
}
.formWrapper {
  height: auto;
  width: auto;
  overflow: auto;
  background-color: #fff;
}
@media screen and (min-width: 1920px) {
  .formWrapper {
    height: 20%;
  }
}
