.bodywrapper {
  height: 1200;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.card.top {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.bgc-blue-500.topper {
  height: 300px;
  z-index: 0;
  text-align: center;
}
.bgc-green-500.topper {
  height: 300px;
  z-index: 0;
  text-align: center;
}
.bgc-red-300.topper {
  height: 300px;
  z-index: 0;
  text-align: center;
}
.bgc-white.topper.animate-show {
  height: auto;
  border: none;
  padding: 0 !important;
}
.bgc-blue-500.center {
  text-align: center;
}
.bgc-red-200.topper.animate-show {
  text-align: center;
  border: none;
  height: 400px;
  color: #fff;
}
.bgc-green-500.topper.animate-show {
  text-align: center;
  border: none;
  height: 400px;
  color: #fff;
}
h1.topper {
  margin: 100px 0 0 0;
}
span.toolbar__label.fs-title {
  color: #000;
}
button.btn.btn--xl.btn--white.btn--raised.findLender {
  z-index: 0 !important;
  margin: 50px auto 0 auto;
}
button.btn.btn--m.btn--white.btn--raised.steps {
  z-index: 0 !important;
  margin: 80px 10px 0 10px;
}
button.btn.btn--xl.btn--white.btn--raised.lenderResults {
  z-index: 0 !important;
  margin: 80px 50px 0 50px;
}
button.btn.btn--m.btn--white.btn--raised.lendy {
  z-index: 0 !important;
  margin: 0 auto 0 auto;
}
.text-field__label {
  color: #000 !important;
}
span.toolbar__label.fs-title.center {
  text-align: center;
}
.toolbar.center {
  text-align: center;
  margin: 10px auto 10px auto;
  width: auto;
}
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
