.clear
  clear both

a
  text-decoration none !important
  color white !important

a.dropdown-link
  color black !important
  
a#lefty
  margin 0 auto 0 auto
  @media screen and (max-width: 480px)
    margin 0 0 0 0

.bodywrapper
  height 100%
  width 100%
  margin 0 0 0 0
  padding 0 0 0 0
  
.card.top
  position fixed
  z-index 1
  width 100%
  background-color rgba(24, 255, 255, 0.75) !important
  
.tc-white-1.mainContent
  height auto

.bgc-blue-500.topper
  min-height 400px
  @media screen and (min-width: 1920px)
    height 42.5%
  @media screen and (max-width: 480px)
    height 15%
  z-index 0
  text-align center
  
.bgc-green-500.topper
  height 300px
  @media screen and (min-width: 1920px)
    height 42.5%
  z-index 0
  text-align center
  
.bgc-green-500.topper#somethingElse
  min-height 700px
  @media screen and (min-width: 1920px)
    height 42.5%
  z-index 0
  text-align center
  //text-shadow 0.5px 0.5px black
  background-position 50% 50%
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  background-image url("/images/storefront.jpg")
  padding-left 0 !important
  padding-right 0 !important
  padding-top 0 !important
  margin-top 62px
  
.bgc-light-blue-A200.mask
  background-color rgba(24, 255, 255, 0.75) !important
  width 100%
  height 700px
  margin 0 !important
  padding 0 !important
  
.bgc-red-300.topper
  height 22.5% 
  z-index 0
  text-align center

.bgc-white.topper.animate-show
  height auto
  border none
  padding 0 !important
  
.bgc-white.topper.animate-show.clear#formDiv
  padding 60px 0 0 0 !important
  height auto
  
.bgc-white.topper.animate-show#formbottom
  padding 0 0 60px 0 !important
  
.bgc-white.center
  text-align center
  
.bgc-red-200.topper.animate-show
  text-align center
  border none
  height 200px
  color white
  
.bgc-green-500.topper.animate-show
  text-align center
  border none
  height 300px 
  color white

.rower
  text-align center 
  
h1
  width auto

h1.topper
  padding 20% 15% 0 15%
  @media screen and (max-width: 480px)
    padding 50% 0 0 0
    
h1.topper2
  margin 6% 15% 0 35%
  text-align left
  @media screen and (max-width: 480px)
    margin 20% 0 0 0
    
h1.mid
  text-align left
  margin 0 15% 0 35%
  @media screen and (max-width: 480px)
    margin 0 0 0 0
i.icon.icon--l.icon--white.icon--flat.mdi.mdi-chevron-down#topSlideer
  font-size 80px !important
  width auto !important
  margin 30px 0 0 0

span.toolbar__label.fs-title
  color white
  
span.toolbar__label.fs-title.former
  color black
  
button.btn.btn--xl.btn--blue--500.btn--raised.findLender
  z-index 0 !important
  margin 3% auto 6% auto
  border 1px solid white
  @media screen and (max-width: 480px)
    margin 12% 0 0 0
  
button.btn.btn--xl.btn--white.btn--flat.findLender#learn
  z-index 0 !important
  margin 1.5% auto 0 -10px
  float left
  
button.btn.btn--m.btn--white.btn--raised.steps
  z-index 0 !important
  margin 80px 10px 0 10px
  
button.btn.btn--xl.btn--white.btn--raised.lenderResults
  z-index 0 !important
  margin 80px 50px 0 50px
  
button.btn.btn--m.btn--white.btn--raised.lendy
  z-index 0 !important
  margin 0 auto 0 auto

button.btn.btn--l.btn--black.btn--icon.formy
  z-index 0 !important
  float right
  
.text-field__label
  color black !important
  
input.black
  color black !important
   
span.toolbar__label.fs-title.center
  text-align center
  
.toolbar.center 
  text-align center
  margin 10px auto 10px auto
  width auto
  
.animate-show
  line-height 20px
  opacity 1
  padding 10px
  border 1px solid black
  background white
  height auto

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active
  -webkit-transition all linear 0.5s
  transition all linear 0.5s
  display block !important

.animate-show
  &.ng-hide
    line-height 0
    opacity 0
    padding 0 10px

.cssSlideUp
  transition .7s linear all
  height 200px
  overflow hidden

.cssSlideUp
  &.ng-hide
    height 0

.formWrapper
  height auto
  width auto
  overflow auto
  background-color white
  @media screen and (min-width: 1920px)
    height 20%
