.clear {
  clear: both;
}
.bodywrapper {
  height: auto;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.card.top {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.tc-white-1.mainContent {
  height: 2900px;
}
@media screen and (min-width: 1920px) {
  .tc-white-1.mainContent {
    height: 4000px;
  }
}
.bgc-blue-500.topper {
  height: 22.5%;
  z-index: 0;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .bgc-blue-500.topper {
    height: 42.5%;
  }
}
.bgc-green-500.topper {
  height: 22.5%;
  z-index: 0;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .bgc-green-500.topper {
    height: 42.5%;
  }
}
.bgc-red-300.topper {
  height: 22.5%;
  z-index: 0;
  text-align: center;
}
.bgc-white.topper.animate-show {
  height: auto;
  border: none;
  padding: 0 !important;
}
.bgc-white.topper.animate-show.clear#formDiv {
  padding: 60px 0 0 0 !important;
  height: auto;
}
.bgc-white.topper.animate-show#formbottom {
  padding: 0 0 60px 0 !important;
}
.bgc-white.center {
  text-align: center;
}
.bgc-red-200.topper.animate-show {
  text-align: center;
  border: none;
  height: 200px;
  color: #fff;
}
.bgc-green-500.topper.animate-show {
  text-align: center;
  border: none;
  height: 22.5%;
  color: #fff;
}
h1.topper {
  margin: 22.5% 0 0 0;
}
@media screen and (max-width: 480px) {
  h1.topper {
    margin: 75% 0 0 0;
  }
}
span.toolbar__label.fs-title {
  color: #fff;
}
span.toolbar__label.fs-title.former {
  color: #000;
}
button.btn.btn--xl.btn--white.btn--raised.findLender {
  z-index: 0 !important;
  margin: 10% auto 0 auto;
}
button.btn.btn--m.btn--white.btn--raised.steps {
  z-index: 0 !important;
  margin: 80px 10px 0 10px;
}
button.btn.btn--xl.btn--white.btn--raised.lenderResults {
  z-index: 0 !important;
  margin: 80px 50px 0 50px;
}
button.btn.btn--m.btn--white.btn--raised.lendy {
  z-index: 0 !important;
  margin: 0 auto 0 auto;
}
button.btn.btn--l.btn--black.btn--icon.formy {
  z-index: 0 !important;
  float: right;
}
.text-field__label {
  color: #000 !important;
}
input.black {
  color: #000 !important;
}
span.toolbar__label.fs-title.center {
  text-align: center;
}
.toolbar.center {
  text-align: center;
  margin: 10px auto 10px auto;
  width: auto;
}
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  height: auto;
}
.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.cssSlideUp {
  transition: 0.7s linear all;
  height: 200px;
  overflow: hidden;
}
.cssSlideUp.ng-hide {
  height: 0;
}
.formWrapper {
  height: auto;
  width: auto;
  overflow: auto;
  background-color: #fff;
}
@media screen and (min-width: 1920px) {
  .formWrapper {
    height: 20%;
  }
}
